@import '../../style/scss/main.scss';

.menu {
	display: inline-block;
}

.menu__bar {
	background-color: $menu-background;

	width: $menu-width;
	height: $menu-height;
	padding: 0;

	display: inline-block;

	.menu__bar__links__item__text {
		color: rgba($font-white, 0);
	}

	&:hover {
		.menu__bar__links__item__text {
			color: rgba($font-white, 1);
			@include transition(all, .5s, ease);
		}
	}

	&:not(:hover) {
		.menu__bar__links__item__text {
			color: rgba($font-white, 0);
			@include transition(all, .5s, ease);
		}
	}
}

.menu__slider {
	padding: 0px;
}
