@import '../../style/scss/main.scss';

.menu {
	background-color: $menu-background;
	border: $menu-border-width solid $menu-border-color;

	width: $menu-width;
	height: $menu-height;
	padding: $menu-padding;
}
