@import '../../style/scss/main.scss';

.pages {
	display: inline-block;
	position: absolute;
	width: calc(100vw - #{$menu-width});
	@include transition(all, ease, .5s);
	padding: 0px;
}

.pages--margin {
	// margin-left: $menu-slider-width;
	// width: calc(100vw - (#{$menu-slider-width} + #{$menu-width}));
	// @include transition(margin, ease, .5s);
}

.pages__header {
	height: $pages-header-height;
	background-color: $pages-header-background;
	padding: $padding;
}

.pages__content {
	padding: $padding-xl $padding;
	overflow-y: auto;
	height: calc(100vh - #{$pages-header-height});
}
