@import '../../style/scss/main.scss';

.pages {
	display: inline-block;
	position: absolute;
	width: calc(100vw - #{$menu-width});
	padding: $padding;
}

.pages--margin {
	margin-left: $menu-slider-width;
	@transition(all, ease, .5s);
}
