@import '../../../style/scss/main.scss';

.user-details {
	background-color: $brand-light-grey;
	padding: $padding;
}

.image-container {
	background-color: darken($brand-light-grey, 10%);
	padding: $padding;
}

.image-container__image {
	max-width: 200px;
	display: block;
	margin: auto;
}

.image-container__image__background {
	width: 100%;
	padding-top: 100%;
	position: relative;
	border: 5px solid black;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.image-container__image__link {
	text-decoration: underline;
	cursor: pointer;
}

 .user-details__button-container {
	 padding-top: $padding;
 }
