@import "../../style/scss/main.scss";

.login-container {
	width: 100%;
	height: 100vh;
	background-color: $brand-tertiary;
	position: relative;
}

.login-container__login-box {
	position: absolute;
	left: 50%;
	top: 50%;
	@include translate(-50%, -50%);
	width: 600px;
	background-color: white;
	padding: $padding;
}

.login-container__login-box__button-container {
		padding-top: $padding;
}
