@import '../../../style/scss/main.scss';

.menu__links {
	list-style: none;
	padding: 0px;
	margin: 0px;	
}

.menu__links__item {
	width: $menu-width;
	padding: $menu-padding;
	border-bottom: $menu-border-color solid $menu-border-width;
	text-align: center;
	font-size: 12px;
}

.menu__links__item__icon {
	display: block;
	font-size: 20px;
}
