$brand-primary: 		#aaa;
$brand-secondary: 	#ccc;
$brand-tertiary:		#eee;

$border-color: 			#ddd;
$border-width: 			1px;

$padding-sm: 				11px;
$padding: 					22px;
$padding-lg: 				44px;
$padding-xl: 				66px;

// Menu styles
$menu-background: 		$brand-secondary;
$menu-border-color: 	$border-color;
$menu-border-width: 	$border-width;
$menu-width: 					80px;
$menu-height: 				100vh;
$menu-padding: 				$padding;
