//Brand colours
$brand-primary: 									#F4AC12;
$brand-secondary: 								#A64D79;
$brand-tertiary:									#F5E9EF;

$brand-red: 											#D63524;

//Border styles
$border-color: 										#666;
$border-width: 										1px;

//Padding sizes
$padding: 												22px;
$padding-sm: 											$padding / 2;
$padding-lg: 											$padding * 2;
$padding-xl: 											$padding * 3;

//Font styles
$font-white: 											#fafafa;
$font-black: 											#1a1a1a;
$font-link: 											$brand-red;

//Button styles
$button-border-radius: 						4px;
$button-padding: 									$padding;

$button-primary-background: 			$brand-primary;
$button-secondary-background: 		$brand-secondary;

//Menu styles
$menu-background: 								$brand-secondary;
$menu-border-color: 							$border-color;
$menu-border-width: 							$border-width;
$menu-width: 											80px;
$menu-height: 										100vh;
$menu-padding-x: 									$padding-sm;
$menu-padding-y: 									$padding;

$menu-user-height: 								90px;

$menu-user-icon-border-width: 		3px;
$menu-user-icon-border-color: 		darken($menu-background, 10%);
$menu-user-icon-background: 			'http://agarioskins.com/submitted/useruploads/Rick%20sanchez.png';
$menu-user-icon-width: 						40px;
$menu-user-icon-height: 					40px;

$menu-link-background: 						darken($menu-background, 10%);
$menu-link-border-color: 					$brand-red;
$menu-link-border-width: 					5px;
$menu-link-icon-size: 						25px;
$menu-link-font-size: 						12px;

$menu-slider-width: 							300px;
$menu-slider-height: 							$menu-height;
$menu-slider-background: 					#fff;
$menu-slider-z: 									99;
$menu-slider-border-width:  			$border-width;
$menu-slider-border-color: 				$border-color;

$menu-slider-header-background: 	darken($brand-secondary, 10%);
$menu-slider-header-color: 				$font-white;
$menu-slider-header-padding: 			$padding;
$menu-slider-header-height: 			$menu-user-height;

$menu-slider-content-padding: 		$padding;
$menu-slider-content-width: 			$menu-slider-width;

//User box
$user-box-height: 								550px;
$user-box-width: 									600px;
$user-box-z: 											100;
$user-box-background: 						white;
$user-box-border-color:						$border-color;
$user-box-border-width: 					$border-width;
$user-box-header-background: 			$brand-secondary;
$user-box-overlay: 								rgba(black, .75);

$user-box-icon-size: 							100px;
$user-box-icon-border-width: 			$menu-user-icon-border-width;
$user-box-icon-border-color: 			$menu-user-icon-border-color;
$user-box-icon-background: 				$menu-user-icon-background;
